body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 20px;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-content {
  display: flex;
  width: 90vw;
}

@media (min-width: 768px) {
  .splash-content {
    width: 25%;
  }
}

.progress {
  flex-grow: 1;
  margin-left: 1rem;
}

.progress-bar.indeterminate {
  position: relative;
  animation: progress-indeterminate 2s linear infinite;
}

@keyframes progress-indeterminate {
   from { left: -25%; width: 25%; }
   to { left: 100%; width: 25%;}
}

.version {
  font-size: small;
  font-style: italic;
}

.grid-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid {
  background-color: aliceblue;
  width: 80vmin;
  height: 80vmin;
}

.grid-line {
  stroke: #888;
}

.initial-value {
  fill: magenta;
  font-size: 2rem;
}

.calculated-value {
  fill: black;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .grid {
    width: 400px;
    height: 400px;
  }
  .initial-value {
    font-size: 3rem;
  }
  .calculated-value {
    font-size: 3rem;
  }
}
