.splash-screen {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 90vw;
  display: flex;
}

@media (min-width: 768px) {
  .loading {
    width: 25%;
  }
}

.progress {
  flex-grow: 1;
  margin-left: 1rem;
}

.progress-bar.indeterminate {
  position: relative;
  animation: progress-indeterminate 2s linear infinite;
}

@keyframes progress-indeterminate {
   from { left: -25%; width: 25%; }
   to { left: 100%; width: 25%;}
}

.container {
  margin-top: 20px;
}

.version {
  font-size: small;
  font-style: italic;
}

.grid-wrapper {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid {
  background-color: aliceblue;
  width: 80vw;
  height: 80vw;
}

.grid-line {
  stroke: #888;
}

.initial-value {
  fill: magenta;
  font-size: 16px;
}

.calculated-value {
  fill: black;
  font-size: 16px;
}

@media (min-width: 768px) {
  .grid {
    width: 400px;
    height: 400px;
  }
  .initial-value {
    font-size: 32px;
  }
  .calculated-value {
    font-size: 32px;
  }
}
