body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: -webkit-fill-available;
  min-height: -moz-fill-available;
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 20px;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-content {
  display: flex;
  width: 90vw;
}

@media (min-width: 768px) {
  .splash-content {
    width: 25%;
  }
}

.progress {
  flex-grow: 1;
  margin-left: 1rem;
}

.progress-bar.indeterminate {
  position: relative;
  animation: progress-indeterminate 2s linear infinite;
}

@keyframes progress-indeterminate {
   from { left: -25%; width: 25%; }
   to { left: 100%; width: 25%;}
}

.version {
  font-size: small;
  font-style: italic;
}

:root {
  --grid-size: 90vmin;
  --min-grid-size: 200px;
  --max-grid-size: 90vmin;
}

.grid-dimensions {
  width: var(--grid-size);
  height: var(--grid-size);
  min-width: var(--min-grid-size);
  min-height: var(--min-grid-size);
  max-width: var(--max-grid-size);
  max-height: var(--max-grid-size);
}

.absolute-container {
  position: relative;
}

#video {
  position: absolute;
  border: 1px solid black;
}

#video-overlay-guides {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.video-overlay__guide {
  stroke: black;
  stroke-width: 2;
  fill: none;
}

#video-overlay-instructions {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.video-overlay__text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  font-size: calc(var(--grid-size) / 24);
  text-align: center;
  color: #20a1d3;
}

.sudoku__grid-line {
  stroke: #888;
}

.sudoku__digit {
  font-size: calc(var(--grid-size) / 14);
  dominant-baseline: central;
  text-anchor: middle;
}

.thumbnail-image {
  width: 200px;
  height: 200px;
}

.thumbnail-grid {
  width: 200px;
  height: 200px;
}

.thumbnail-grid .sudoku__digit {
  font-size: calc(var(--grid-size) / 24);
}

.sudoku__digit--initial {
  fill: magenta;
}

.sudoku__digit--calculated {
  fill: black;
}

@media (min-width: 768px) {
  :root {
    --grid-size: 400px;
  }
}

#video {
  border: 1px solid darkblue;
}

#error-panel {
  position: fixed;
  z-index: 2;
  max-width: calc(100% - 40px);
  overflow-wrap: break-word;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

#error-panel .close {
  margin-left: 10px;
}

.analytics-table {
  margin-top: 2rem;
}

.analytics-inner-table {
  margin-left: 5rem;
}
